<div class="nested-fields">

  <%= f.input :content, label: "選項", placeholder: "珍珠、椰果、貢丸？" %>
  <%= f.input :price, label: "價錢" %>
  <%= link_to_remove_association "刪除", f, class: "btn btn-default btn-xs" %>

</div>
