<div class="nested-fields">

  <%= f.input :title, label: "品名" %>
  <%= f.input :price, label: "價格" %>
  <%= link_to_remove_association f, class: "btn btn-default" do %>
    <i class="fa fa-long-arrow-right"></i>
    <i class="fa fa-trash"></i>
  <% end %>

</div>
