<% @page_title = "我的訂單" %>

<h2>訂單檢視</h2>

<h3>
  <%= link_to groupon_products_path(@order.groupon.token) do %>
    還有點餓？回到訂購頁面
    <i class="fa fa-arrow-circle-left"></i>
  <% end %>
</h3>

<div class="table-responsive">
  <% if order_editable?(@order) %>
    <%= render "order_summary_editable" %>
  <% else %>
    <%= render "order_summary" %>
  <% end %>
</div>

<h3>總價: <%= @order.price %></h3>

<div class="pull-right">
  <% if @order.is_paid? %>
    <h3> <span class="class label label-info"> 已付款 </span> </h3>
  <% else %>
    <h3> <span class="class label label-danger"> 訂單已成立， </span> </h3>
    <h3> <span class="class label label-danger"> 確認無誤即可付款。 </span> </h3>
  <% end %>
</div>
